/*FONT CSS*/
@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'courier_prime';
    src: url('fonts/courier_prime-webfont.woff2') format('woff2'),
         url('fonts/courier_prime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*LINKS & TEXT*/

a:link {
  color: #000000;
    margin: 10px;
    text-decoration: none;
    font-family: 'montserrat_alternatesregular';
    font-size: 25px;
}

a:hover {
  color: #FFFFFF;
}

p, ul{
    font-family: 'courier_prime';
}

body {margin: 0;}


/*BODY*/

.header {
    background: #000000;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.links {
    background: #E88CBA;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.content {
    background: #129a22;
    padding: 25px;
    flex: 3;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:1000px;
    padding: 25px;
    flex: 2
}

.footer {
    background: #616161;
}

    .flex-container {
        display: flex;
}

img {
    max-width: 100%;
    max-height: 100vh;
}
