/*FONT CSS*/
@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'courier_prime';
    src: url('fonts/courier_prime-webfont.woff2') format('woff2'),
         url('fonts/courier_prime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*LINKS & TEXT*/

a:link {
  color: #000000;
    margin: 10px;
    text-decoration: none;
    font-family: 'montserrat_alternatesregular';
    font-size: 35px;
}

a:hover {
  color: #FFFFFF;
}

p, ul{
    font-family: 'courier_prime';
    font-size: 25px;
    line-height: 50px;
}

body {margin: 0;}

img.one, img.two, img.three, img.four, img.five, img.six {
    max-width: 100%;
    max-height: 100vh;
}


/*BODY*/
main {
    width: 100%;
    height: 100%;
}
.header {
    background: #000000;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.links {
    background: #E88CBA;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.intro {
    background: #FFFFFF;
    padding: 25px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.flex-container {
        display: flex;
    }
    .intro {
    flex: 1;
}

.sidebar {
    flex: 0 1 400px;
}


/*SKILLS SECTION*/
.containerone {
    display: flex;
    flex-direction: row;
}
p#years {
   padding-left: 60px;
}
.containertwo {
    display: flex;
    justify-content: space-between;
}

.content{
    padding: 25px;
}
.footer {
    background: #000000;
}
#backtotop{
    color: #e88CBA;
    display: flex;
    justify-content: center;
}
a#backtotop:hover {
  color: #FFFFFF;
}
